<%- include('header'); -%>
    <h1>Compose</h1>
    <form style="text-align: center;" action="/compose" method="post">
<input type="text" name="Heading" placeholder="Chemical name"> <br>
       <textarea name="content" id="" cols="160" rows="10" placeholder="Please note down your chemical reactions...."></textarea>
<br>       <button type="submit" >Publish</button>
    </form>
    <%- include('footer'); -%>