<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Narrator</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body>
<!-- partial:index.partial.html -->
<!-- Hero -->
  <section class="et-hero-tabs">
    <h1 id="tab-es6">Narrator</h1>
    <h3><p>Illustrate chemical reaction inside your  brain</p>
    <p>Beyond reality</p></h3>
    <div class="et-hero-tabs-container">
      <a class="et-hero-tab" href="#tab-es6"><h1>Narrator</h1></a>
      <a class="et-hero-tab" href="#tab-flexbox">Home</a>
      <a class="et-hero-tab" href="#tab-react">Quotes</a>
      <a class="et-hero-tab" href="#tab-angular">Contact Us</a>
      <a class="et-hero-tab" href="#tab-other">About</a>
      <span class="et-hero-tab-slider"></span>
    </div>
  </section>