<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Narrator</title>
    <link rel="stylesheet" href="/css/style1.css">
</head>
<body>

    <div class="heading">
    <h1>Narrator</h1>
</div>

    
        <h2 class="heading"><%=Heading%> </h2>
        <p class="content"><%=content%></p>
     
           

    
</body>
<footer >&copy; Made by Harshit</footer>
</html>